.features {
    &-main {
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &-item {
        display: flex;
        align-items: center;
        padding: 0 70px;
        justify-content: space-between;
    }
    &-title {
        font-size: 30px;
        font-weight: 800;
        line-height: 1.2;
        margin-bottom: 80px;
        span {
            display: block;
        }
    }
    &-desc {
        color: #000000;
        font-weight: 600;
    }
}