$primary-font: 'Open Sans', sans-serif;
$btn-color: #C4A586;
$text-color: #72696A;
$feature-first: #FCEFE9;
$feature-second: #FAE2C8;
$product-first: #A9A7A6;
$product-second: #FFF4E8;
$product-btn: #D9AB82;
$bg-color: #FBFBFB;
$footer-first: rgb(254, 132, 50);